@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <form data-permanent class="d-flex gap-2">
                <p>Search:</p>

                <input type="text"/>
            </form>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
